
h3 {color : #ff5032; font-family:garamond} 
p {font-size:22px; font-family:georgia; font-weight: 100}  
a {font-family:arial; font-size:20px; color : #234467} 
a:hover {color : gray}
footer{text-align: center;}
li{margin-botton: 7px}
